# para ter a biblioteca de instalação de ambuente virtual para manter as versoes de biblioteca no código.
pip install venv
# Git clone repository
create virtual env in repository

# To data cience project, install:

# To array
pip numpy

# To dataframe
pip pandas

# To plot figures
pip Matplot

# To plot bealtiful figures
pip seaborn

# To fit machine learn models
pip scikit learn
